// tab 组件 公用
$Menu-bg = #fff
$Menu-hei = 100rpx
$Menu-size = 28rpx
$Menu-color = #333
$Menu-active = #4b9afc

//content
$contentPadding = $padding-default
$contentWidth = calc(100% - 60rpx) //$contentPadding * 2 = 60rpx
$contentBg = #fff

//theme
$Menu-width = calc(100% - 40rpx)    //40rpx = $Menu-padding* 2
$Menu-padding = 0 20rpx
$Menu-margin = 0 20rpx
$Menu-hei-2 = 88rpx
$Menu-size-2 = 32rpx
$Content-height-2 = calc(100% - 88rpx - 60rpx)    //60rpxpadding
$Menu-fw = bold

$tabsPop-maxheight = 70vh
$tabsBtn-height = 80rpx


//抽出公用部分 适用于除tab组件外的其它组件使用
ssfunc-tab-list()
  .tab-list
    ss-tabs($Menu-bg, $Menu-color , $Menu-size, $Menu-hei , $Menu-active)
ssfunc-tab-list-scroll()
  .tab-list-scroll
    ss-tabs($Menu-bg, $Menu-color , $Menu-size-2, $Menu-hei-2 , $Menu-active)
    font-weight: $Menu-fw

ssfunc-tab-list-theme()
  .tab-list-theme
    border-bottom: 1px solid $color-border
    @extends .tab-list
    >.item
      flex: 1
      ss-border-ani(4rpx, -2rpx, $Menu-active)
      height: 100%

ssfunc-tab-list-theme-scroll()
  .tab-list-theme-scroll
    @extends .box-shadow-bottom
    white-space: nowrap
    width: $Menu-width
    padding: $Menu-padding
    line-height: $Menu-hei-2
    z-index 9
    .item
      // display: inline-block
      ss-border-ani(6rpx, 0, $Menu-active, $isScroll: true)
      margin: $Menu-margin

ssfunc-tabs-default()
  .tabs-default
    .menu-box
      @extends .tab-list-theme

//tab组件 scroll
ssfunc-tabs-default-scroll()
  .tabs-default-scroll
    &.tabs-menu-gird-2
      .menu-box
        .item
          width: calc(50% - 40rpx) //$Menu-margin*2 = 40rpx
          text-align center
    .menu-box
      @extends .tab-list-theme-scroll
    .content-box
      height: $Content-height-2
      .content-item
        @extends .card-bg 
        margin-bottom: 20rpx
        height: 800rpx
        width: auto     //scroll-view 影响



$tC-bg = #f3f4f8
$tC-lh = 80rpx
$tC-meun-wid = 180rpx
$tC-padding = 0 20rpx
$tC-btn-padding = 14rpx 20rpx

ssfunc-tabs-column-btn()
  .tabs-column-btn
    ss-display-flex(row nowrap, space-between, center)
    background: #fff
    padding: $tC-btn-padding
    >ui-item
      width: $tC-meun-wid
      margin-right: 20rpx
      height: "calc(%s - 18rpx)" % $tabsBtn-height
      line-height: @height
      >view 
        width: auto
        line-height: inherit;
        height: 100%;
        box-sizing: border-box;
      &:last-child
        flex: 1
        margin-right: 0


ssfunc-tabs-column()
  .tabs-column
      ss-display-flex(row nowrap, flex-start)
      // position: relative
      // padding-bottom: 78rpx
      >ui-list
        &:nth-child(2)
          flex: 1
      .menu-box
        ss-tabs($tC-bg, $Menu-color , $Menu-size, 100% , $Menu-active, true)
        overflow-y: auto
        -webkit-overflow-scrolling: touch
        .item
          line-height: $tC-lh
          min-width: $tC-meun-wid
          &.active
            background: #fff
      .content-box
        -webkit-overflow-scrolling: touch
        height: auto
        padding: $tC-padding
        line-height: $tC-lh
        text-align: left
        background: #fff
        overflow-y: auto
        min-height: 100%
        swiper-item
          position: relative!important

ssfunc-tabs-column-com($btn = false)
  ss-display-flex(row nowrap, flex-start)
  background: $tC-bg
  .swiper-content
    background: #fff
    width: 50%    //这个会因flex:1 失效，不过遇到了个问题 部分页面 需要添加，才能让flex:1有郊
    flex: 1
    height: initial
    max-height: "calc(%s - %s)" % ($tabsPop-maxheight $tabsBtn-height)
    padding: $tC-padding
    line-height: $tC-lh
    text-align: left
  >ui-item
    &:first-child
      max-height: "calc(%s - %s)" % ($tabsPop-maxheight $tabsBtn-height)
  if ($btn != false)
    flex-wrap: wrap
    >ui-item
      &:last-child
        width: 100%
  .tab-header
    ss-tabs($tC-bg, $Menu-color , $Menu-size, 100% , $Menu-active, true)
    .item
      line-height: $tC-lh
      min-width: $tC-meun-wid
      &.active
        background: #fff
      &.hasVal
        .htitle
          position: relative
          &:before
            content: ''
            position: absolute
            // top: calc(50% - 4rpx)
            top: "calc( 50% - %s)" % ($dot-width / 2)
            left: -($dot-width * 3)
            width: $dot-width
            height: @width
            border-radius: @width
            background: $color-primary
          // &:after
          //   content: ''
          //   position: absolute
          //   top: 0
          //   right: -8rpx
          //   width: 8rpx
          //   height: @width
          //   border-radius: @width
          //   background: #4b9afc
  // .tab-content
  //   height: auto
  //   padding: $tC-padding
  //   line-height: $tC-lh
  //   text-align: left
  //   min-height: 100%

