@import "../../common/commonfunc"


.boxer
  background: #fff
  position: relative
  padding: 30rpx
  box-sizing: border-box

.hei-10-r
  height: 10rpx

.case-head
  padding: 10rpx 35rpx 0
  .item-pic image
    width: 68rpx
    height @width 
    border-radius: @width
  .item-desc
    color: $color-grey
  .item-title
    color: #000
    font-size: 60rpx
    font-weight: bold

.case-list
  height: 100%
  &.active
    .case-item:not(.active), .case-head
      transition: none;
      opacity 0

.case-item
  border-radius: 26rpx
  box-shadow:0px 18rpx 60rpx 0px rgba(0, 0, 0, 0.15);
  background: #fff;
  box-sizing: content-box
  margin: -20rpx auto
  position: relative
  width: 100%
  transition: all .6s
  transform: scale(.92, .92)
  &.active
    height: 100vh;
    border-radius: 0
    z-index: 199
    overflow-y: auto
    position: fixed
    transform: scale(1, 1)
    top: 0
    margin: auto
    .item-pic
      border-radius: 0
    .itme-body
      display: flex
    .item-footer
      display: block
      padding-bottom: 60rpx;
      text-align: center;
  .item-pic
    height: 660rpx
    width: 100%
    border-radius: 26rpx
  .itme-body
    border-radius: 0 0 26rpx 26rpx 
    background: #fff
    min-height: 140rpx
    padding: 0 25rpx
    ss-display-flex(column, center)
    display: none
  .item-desc
    font-size: 22rpx
    color: #737373
    margin-bottom: 5rpx
  .item-title
    color: #333
    font-size: 32rpx
    font-weight: bold
  .item-footer
    display: none
  .item-footer-pic
    width: 220rpx
    height: @width
    border-radius: @width
    box-shadow: 0px 20rpx 30rpx 0px rgba(0,0,0,0.1)
    margin: auto
  .item-footer-title
    font-weight: bold
    font-size: 40rpx
    color: #000
    margin-bottom: 10rpx
    margin-top: 50rpx
  .item-footer-desc
    font-size: 24rpx
    color: #737373
  .item-btn
    border: 1rpx solid #D0D0D0
    box-shadow: 0px 4rpx 15rpx 0px rgba(0, 0, 0, 0.2)
    border-radius: 40rpx
    background: #fff
    width: 300rpx
    height: 80rpx
    font-size: 28rpx
    ss-display-flex(row nowrap, center, center)
    &:before
      content: '\e630'
      color: #2C8CDE
      font-size: 36rpx
      margin-right: 26rpx
    &.share
      &:before
        content: '\e620'
        color: #55A067

.case-close
  padding: 30rpx 26rpx
  position: absolute
  top: 30rpx
  left: 0
  color: #333
  z-index 200
  opacity 0
  &.active
    opacity: 1
    transition: all .6s
  .icon-close
    ss-display-flex(row, center, center)
    width: 50rpx
    height @width
    border-radius: @width
    background: #f5f5f5
    font-size: 24rpx
    &:before
      content: '\e606'

//分享
.input-item-content
  padding: 0

.video-b
  width: 100%

.message-form
  margin: 35rpx
  background: #fff
  border-radius: 12rpx
  box-shadow:0px 15px 30px 0px rgba(0, 0, 0, 0.1);
  .mf-title
    height: auto
    font-weight: 32rpx
    font-weight: bold
    border-bottom: 1rpx solid #e5e5e5
    width: 100%;
    display: block;
    line-height: 90rpx;
    padding-left: 20rpx;
    color: #333;
  textarea
    padding: 20rpx
  .mf-button
    background: #FAFAFA
    border-radius: 0 0 12rpx
    height: 130rpx
    text-align: center
    ss-display-flex(row, center, center)
    .item-btn
      width: 210rpx
      line-height: 80rpx
      box-shadow:0px 6px 20px 0px rgba(40,106,255,0.25);
      background:linear-gradient(90deg,rgba(85,141,254,1),rgba(38,102,254,1));
      color: #fff
      margin: 0
      
  // .input-item-area

.message-item
  ss-display-flex(row nowrap, flex-start, center)
  background: #fff
  border-radius: 12rpx
  margin: 20rpx 35rpx
  padding: 20rpx;
  .item-logo
    width: 80rpx
    height: @width
    border-radius: @width 
    margin-right: 30rpx
  .item-top
    ss-display-flex(row nowrap, space-between, center)
    border-bottom: 1rpx solid #f5f5f5
    line-height: 60rpx
    color: #333
  .item-bottom
    min-height: 80rpx
    padding-top: 10rpx


.change-list
  >.item
    flex: 1
    margin-bottom: 30rpx

button.btn-login
  display: inline
  padding: 0;
  margin: 0;
  width: auto;
  background: none;
  line-height: 28rpx
  min-height: auto;
  height: auto;
  font-size: 28rpx
  color: #666
  &:after
    border: none;
    display: none

.swiper
  margin: auto
  box-shadow:0px 0px 30px 0px rgba(0, 0, 0, 0.2);
//   width: 100%
//   height: 70vh
swiper
  height 100%
  swiper-item
    position: relative
  .item-bg
    width: 100%
    height: 100%
  .item-code
    width: 80rpx
    height: 80rpx
    position: absolute
    bottom: 30rpx
    left: calc(50% - 40rpx)
    z-index 1
  .item-logo
    width: 68rpx
    height: 68rpx
    border-radius: @width
    position: absolute
    top: 41%
    left: calc(50% - 26rpx)
    z-index 1
  .item-logo-2
    width: 68rpx
    height: 68rpx
    border-radius: @width
    position: absolute
    top: 2%
    left: 3%
    z-index 1
.share-canvas
  width: 100%
  height 100%
  position: absolute
  top: 0
  left: 0
  z-index 2

.save-button
  background: #2567FF!important
  width: 360rpx;
  height: 88rpx;
  box-shadow: 0rpx 0rpx 12rpx 0rpx rgba(0,68,225,0.5);
  border-radius: 44rpx;
  margin: 30rpx auto 0 
  padding: 0
  line-height: @height

.pages-btnx
  margin-top: 40rpx
  ss-display-flex(row nowrap, space-around, center)
  .item-btn
    background: #fff!important
    width: 200rpx;
    height: 66rpx;
    line-height: @height
    box-shadow: 0rpx 0rpx 12rpx 0rpx rgba(0,68,225,0.5);
    border-radius: 33rpx;
    padding: 0
    border: #2567FF
    margin: 0
    font-size: 28rpx
    color: #2567FF
    text-align: center