@import "../../common/commonfunc"


.boxer
  background: #f5f5f5
  position: relative
  // ss-display-flex(column, space-between, center)

.item-title
  font-weight: bold
  font-size: 34rpx
  color: #000
  padding: 30rpx
  text-align: center

.item-pic
  width: 90vw
  height: 50vh
  margin: auto
  margin-bottom: 10vh