@import '../../../../common/commonfunc'

.boxer
  background: #fff

ssfunc-tab-list()
ssfunc-tab-list-scroll()
ssfunc-tab-list-theme()
ssfunc-tab-list-theme-scroll()
ssfunc-tabs-default()
ssfunc-tabs-default-scroll()
ssfunc-tabs-column()
ssfunc-tabs-column-btn()